
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-star-half:before { content: '\e804'; } /* '' */
.icon-envelope:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-camera-alt:before { content: '\e80b'; } /* '' */
.icon-th-large:before { content: '\e80c'; } /* '' */
.icon-th:before { content: '\e80d'; } /* '' */
.icon-th-list:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-ok-circled:before { content: '\e810'; } /* '' */
.icon-ok-circled2:before { content: '\e811'; } /* '' */
.icon-times:before { content: '\e812'; } /* '' */
.icon-times-circle:before { content: '\e813'; } /* '' */
.icon-times-circle2:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-plus-circled:before { content: '\e816'; } /* '' */
.icon-minus:before { content: '\e817'; } /* '' */
.icon-minus-circled:before { content: '\e818'; } /* '' */
.icon-question-circle:before { content: '\e819'; } /* '' */
.icon-info-circled:before { content: '\e81a'; } /* '' */
.icon-home:before { content: '\e81b'; } /* '' */
.icon-link:before { content: '\e81c'; } /* '' */
.icon-lock:before { content: '\e81d'; } /* '' */
.icon-lock-open:before { content: '\e81e'; } /* '' */
.icon-pin:before { content: '\e81f'; } /* '' */
.icon-eye:before { content: '\e820'; } /* '' */
.icon-eye-slash:before { content: '\e821'; } /* '' */
.icon-tag:before { content: '\e822'; } /* '' */
.icon-tags:before { content: '\e823'; } /* '' */
.icon-bookmark:before { content: '\e824'; } /* '' */
.icon-thumbs-up:before { content: '\e825'; } /* '' */
.icon-thumbs-down:before { content: '\e826'; } /* '' */
.icon-forward:before { content: '\e827'; } /* '' */
.icon-comment:before { content: '\e828'; } /* '' */
.icon-chat:before { content: '\e829'; } /* '' */
.icon-bell:before { content: '\e82a'; } /* '' */
.icon-attention:before { content: '\e82b'; } /* '' */
.icon-attention-circled:before { content: '\e82c'; } /* '' */
.icon-trash-empty:before { content: '\e82d'; } /* '' */
.icon-doc:before { content: '\e82e'; } /* '' */
.icon-folder:before { content: '\e82f'; } /* '' */
.icon-folder-open:before { content: '\e830'; } /* '' */
.icon-cog:before { content: '\e831'; } /* '' */
.icon-cog-alt:before { content: '\e832'; } /* '' */
.icon-wrench:before { content: '\e833'; } /* '' */
.icon-calendar:before { content: '\e834'; } /* '' */
.icon-login:before { content: '\e835'; } /* '' */
.icon-sign-out:before { content: '\e836'; } /* '' */
.icon-resize-full:before { content: '\e837'; } /* '' */
.icon-resize-small:before { content: '\e838'; } /* '' */
.icon-resize-vertical:before { content: '\e839'; } /* '' */
.icon-resize-horizontal:before { content: '\e83a'; } /* '' */
.icon-zoom-in:before { content: '\e83b'; } /* '' */
.icon-zoom-out:before { content: '\e83c'; } /* '' */
.icon-chevron-down:before { content: '\e83d'; } /* '' */
.icon-chevron-left:before { content: '\e83e'; } /* '' */
.icon-chevron-right:before { content: '\e83f'; } /* '' */
.icon-chevron-up:before { content: '\e840'; } /* '' */
.icon-down-big:before { content: '\e841'; } /* '' */
.icon-left-big:before { content: '\e842'; } /* '' */
.icon-right-big:before { content: '\e843'; } /* '' */
.icon-up-big:before { content: '\e844'; } /* '' */
.icon-refresh:before { content: '\e845'; } /* '' */
.icon-ccw:before { content: '\e846'; } /* '' */
.icon-cw:before { content: '\e847'; } /* '' */
.icon-cloud:before { content: '\e848'; } /* '' */
.icon-chart-bar:before { content: '\e849'; } /* '' */
.icon-gift:before { content: '\e84a'; } /* '' */
.icon-align-justify:before { content: '\e84b'; } /* '' */
.icon-list:before { content: '\e84c'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-flask:before { content: '\f0c3'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-ol:before { content: '\f0cb'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-google-plus-square:before { content: '\f0d4'; } /* '' */
.icon-google-plus:before { content: '\f0d5'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-envelope-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-cloud-download:before { content: '\f0ed'; } /* '' */
.icon-cloud-upload:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-question:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-calculator:before { content: '\f1ec'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-square:before { content: '\f308'; } /* '' */