/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  color: #2c2c2c;
  background-color: #efefef;
  margin-top: 50px;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

//@import "/node_modules/vue-multiselect/dist/vue-multiselect.min.css";

@import "glazy-nowui";

@import "loader";

@import "vue-multiselect";

a {
  color: #2488cf;
}
a:hover, a:focus {
  color: #2488cf;
}


.navbar {
  min-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

// make links more visible
.card a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link){
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #2488cf;

  &:hover,
  &:focus{
    border-color: #2488cf;
  }
}

.media p {
  color: #2c2c2c;
}

// Make sure form hints are not too small
.form-text {
  font-size: 100%;
}

.dropdown-item {
  color: #888;
}

.dropdown-item.active, .dropdown-item:active {
  color: #666;
  text-decoration: none;
  background-color: #efefef;
}

/* HELP LINK */
.help-link {
  color: rgba(0, 0, 0, .2) !important;
}
.help-link:hover {
  color: rgba(0, 0, 0, .4) !important;
  border-bottom: none !important;
}


.btn-sm, .btn-group-sm > .btn {
  font-size: 0.875rem;
}

// https://www.materialpalette.com/colors
/* OXIDE COLORS */
.oxide-colors-R2O    { color: #d32f2f; }
.oxide-colors-RO     { color: #1976d2; }

.oxide-colors-Al2O3  { color: #388e3c; }
.oxide-colors-PbO    { color: #388e3c; }
.oxide-colors-SnO2   { color: #388e3c; }

.oxide-colors-SiO2   { color: #7b1fa2; }
.oxide-colors-B2O3   { color: #7b1fa2; }

.oxide-colors-Li2O   { color: #d32f2f; }
.oxide-colors-Na2O   { color: #d32f2f; }
.oxide-colors-K2O    { color: #d32f2f; }

.oxide-colors-BeO    { color: #1976d2; }
.oxide-colors-MgO    { color: #1976d2; }
.oxide-colors-CaO    { color: #1976d2; }
.oxide-colors-SrO    { color: #1976d2; }
.oxide-colors-BaO    { color: #1976d2; }

.oxide-colors-TiO2   { color: #f57c00; }
.oxide-colors-ZrO    { color: #f57c00; }
.oxide-colors-ZrO2   { color: #f57c00; }
.oxide-colors-V2O5   { color: #f57c00; }
.oxide-colors-Cr2O3  { color: #f57c00; }
.oxide-colors-MnO    { color: #f57c00; }
.oxide-colors-MnO2   { color: #f57c00; }
.oxide-colors-FeO    { color: #f57c00; }
.oxide-colors-Fe2O3  { color: #f57c00; }
.oxide-colors-CoO    { color: #f57c00; }
.oxide-colors-NiO    { color: #f57c00; }
.oxide-colors-CuO    { color: #f57c00; }
.oxide-colors-Cu2O   { color: #f57c00; }
.oxide-colors-CdO    { color: #f57c00; }
.oxide-colors-ZnO    { color: #f57c00; }

.oxide-colors-F      { color: #757575; }

.oxide-colors-P2O5   { color: #0097a7; }

/* OXIDE FILL COLORS */
.oxide-colors-fill-R2O    { fill: #d32f2f; }
.oxide-colors-fill-RO     { fill: #1976d2; }

.oxide-colors-fill-Al2O3  { fill: #388e3c; }
.oxide-colors-fill-PbO    { fill: #388e3c; }
.oxide-colors-fill-SnO2   { fill: #388e3c; }

.oxide-colors-fill-SiO2   { fill: #7b1fa2; }
.oxide-colors-fill-B2O3   { fill: #7b1fa2; }

.oxide-colors-fill-Li2O   { fill: #d32f2f; }
.oxide-colors-fill-Na2O   { fill: #d32f2f; }
.oxide-colors-fill-K2O    { fill: #d32f2f; }

.oxide-colors-fill-BeO    { fill: #1976d2; }
.oxide-colors-fill-MgO    { fill: #1976d2; }
.oxide-colors-fill-CaO    { fill: #1976d2; }
.oxide-colors-fill-SrO    { fill: #1976d2; }
.oxide-colors-fill-BaO    { fill: #1976d2; }

.oxide-colors-fill-TiO2   { fill: #f57c00; }
.oxide-colors-fill-ZrO    { fill: #f57c00; }
.oxide-colors-fill-ZrO2   { fill: #f57c00; }
.oxide-colors-fill-V2O5   { fill: #f57c00; }
.oxide-colors-fill-Cr2O3  { fill: #f57c00; }
.oxide-colors-fill-MnO    { fill: #f57c00; }
.oxide-colors-fill-MnO2   { fill: #f57c00; }
.oxide-colors-fill-FeO    { fill: #f57c00; }
.oxide-colors-fill-Fe2O3  { fill: #f57c00; }
.oxide-colors-fill-CoO    { fill: #f57c00; }
.oxide-colors-fill-NiO    { fill: #f57c00; }
.oxide-colors-fill-CuO    { fill: #f57c00; }
.oxide-colors-fill-Cu2O   { fill: #f57c00; }
.oxide-colors-fill-CdO    { fill: #f57c00; }
.oxide-colors-fill-ZnO    { fill: #f57c00; }

.oxide-colors-fill-F      { fill: #757575; }

.oxide-colors-fill-P2O5   { fill: #0097a7; }

