/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  color: #2c2c2c;
  background-color: #efefef;
  margin-top: 50px;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@import "/node_modules/vue-multiselect/dist/vue-multiselect.min.css";

@import "glazy-nowui";

@import "loader";

.navbar {
  min-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
}
