/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  color: #2c2c2c;
  background-color: #efefef;
  padding-top: 4rem;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


@import "glazy-nowui";

@import "loader";

/*
.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 1em;
  font-weight: 600;
  border: 0;
}
*/